@media all and (min-height: 532px) {

	#year {
		top: -3%;
	}

	#caption {
		top: -4%;
	}
} 

@media all and (min-height: 800px) {

	#year {
		top: -4%;
	}

	#caption {
		top: -4%;
	}
}

@media all and (min-height: 900px) {

	#year {
		top: -3%;
	}

	#caption {
		top: -3%;
	}
}

@media all and (min-height: 1024px) {

	#year {
		top: -2%;
	}

	#caption {
		top: -2%;
	}
} 

@media all and (min-height: 1280px) {
	#year {
		top: -1.5%;
	}

	#caption {
		top: -1%;
	}
} 